<h2>Search Appointment</h2>
</div>
    <md-input-container flex>
        <input type="text" placeholder="Search Appointment for title" ng-model="search.title">
    </md-input-container>
    <md-input-container flex>
        <input type="text" placeholder="Search Appointment for description" ng-model="search.description">
    </md-input-container>
    <md-input-container flex>
        <input type="text" placeholder="Search Appointment for place" ng-model="search.place">
    </md-input-container>
    
    
    
    <appointments></appointments>    
