<div layout="row" layout-padding="" layout-wrap="" layout-fill="" style="padding-bottom: 32px;" ng-cloak="" class="whiteframedemoBasicUsage">
    <div ng-repeat="appointment in (count = appointments | filter:search )" class="{{appointment.done}}">
        <div class="appointmentContainer {{appointment.priority}}">
            <span>{{appointment.title}}</span><br/>
            <span>{{appointment.description}}</span><br/>
            <span>{{appointment.deadline | date:'dd/MM/yyyy' }}</span><br/> <!--  -->
            <span>{{appointment.place}}</span><br/>
            <div class="row">
            <md-button class="md-raised md-warn" ng-click="remove(appointment)">Delete</md-button>
            <md-button class="md-raised md-primary" ng-click="stausAppointment(appointment)">Done</md-button> <br/>
            </div>
        </div>
    </div>
</div>