

    <div layout="" layout-sm="column">
        <md-input-container flex="33">
            <input ng-model="appointment.title" type="text" placeholder="Title (required)" ng-required="true">
        </md-input-container>
        
        <md-input-container flex="33">
          <input ng-model="appointment.description" type="text" placeholder="description" ng-required="false">
        </md-input-container>
        <md-datepicker ng-model="appointment.deadline" md-placeholder="Deadline"></md-datepicker>
    </div>
    <div layout="" layout-sm="column">
        <md-input-container flex="33">
          <label>City</label>
          <input ng-model="appointment.place">
        </md-input-container>

        <md-input-container flex="33">
          <label>State</label>
          <md-select ng-model="appointment.priority">
            <md-option ng-repeat="priority in priorities" value="{{priority.code}}">
              {{priority.code}}
            </md-option>
          </md-select>
        </md-input-container>
    </div>
    <md-button class="md-raised md-primary" ng-click="save(appointment)">Add Appointment</md-button>

  