<div class="md-toolbar-tools">
    <md-button aria-label="menu">
        <i class="fa fa-bars"></i>
    </md-button>
    <div class="menu" layout="row" layout-align="centre">
        <md-button ui-sref="home">Home</md-button>
        <md-button ui-sref="appointment">Add Appointment</md-button>
        <md-button ui-sref="search">Search Appointment</md-button>
    </div>
    <span flex></span>
    <md-button aria-lable="User">
        <i class="fa fa-user"></i>
    </md-button>
</div>